<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
<head th:replace="layout/layout.html :: head"></head>

<body>
	<!-- Header -->
	<header th:replace="layout/layout_admin.html :: header"></header>
	<!-- Fin Header -->

	<!-- Contenido de la pagina -->
	<div class="container">
		<h1 class="" th:text="${titulo}"></h1>
	</div>
	<!-- FIN Contenido de la pagina -->

	<!--  Alertas -->

	<!-- Fin Alertas -->

	<!-- Footer -->
	<footer th:replace="layout/layout.html :: footer"></footer>
	<!-- FIN Footer -->
</body>
</html>