<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
<head th:replace="layout/layout.html :: head"></head>

<body>
	<!-- Header -->
	<header th:replace="layout/layout_admin.html :: header"></header>
	<!-- Fin Header -->

	<!-- Alertas -->
	<div th:replace="layout/layout_admin.html :: alertas"></div>
	<!-- FIN Alertas -->

	<!-- Contenido de la pagina -->
	<div class="container">
		<nav class="navbar navbar-light bg-light justify-content-between">
			<a class="navbar-brand" th:text="${titulo}"></a>
			<form class="form-inline" th:action="@{/administrador/clientes/filtrar}"
				method="post">
				<div class="form-group">
					<label for="filtro" class="mr-sm-2">Filtrar por</label><select
						id="filtro" name="filtro" class="form-control mr-sm-2">
						<option value="" selected>--Seleccionar--</option>
						<option value="nombre">Nombre</option>
						<option value="apellido">Apellido</option>
						<option value="dni">DNI / Pasaporte</option>
						<option value="cuenta">Nº de cuenta</option>
					</select>
				</div>
				<div class="form-group">
					<label for="valor" class="mr-sm-2">Buscar:</label> <input
						class="form-control mr-sm-2" type="text" aria-label="valor"
						id="valor" name="valor" placeholder="Ingrese un valor..." required>
				</div>
				<div class="btn-group" role="group" aria-label="Basic example">
					<button type="submit" class="btn btn-secondary">Filtrar</button>
					<a type="button" class="btn btn-secondary"
						th:href="@{/administrador/clientes}">Eliminar filtros</a>
				</div>
			</form>
		</nav>
	</div>

	<div class="container mx-3 mx-auto">
		<table class="table table-hover">
			<thead>
				<tr>
					<th scope="col">ID</th>
					<th scope="col">Nombre</th>
					<th scope="col">Apellido</th>
					<th scope="col">DNI</th>
					<th scope="col">Teléfono</th>
					<th scope="col">Email</th>
					<th scope="col">Nº de cuenta</th>
					<th scope="col">Estado</th>
					<th scope="col">Modificar</th>
					<th scope="col">Detalle</th>
				</tr>
			</thead>
			<tbody>
				<tr th:each="cliente : ${clientes}">
					<th th:text="${cliente.id}" scope="row"></th>
					<td th:text="${cliente.nombre}"></td>
					<td th:text="${cliente.apellido}"></td>
					<td th:text="${cliente.dni}"></td>
					<td th:text="${cliente.telefono}"></td>
					<td th:text="${cliente.email}"></td>
					<td th:text="${cliente.numeroCuenta}"></td>
					<th th:if="${cliente.activo}">Activo</th>
					<th th:unless="${cliente.activo}">Inactivo</th>
					<td th:if="${cliente.activo}"><a
						th:href="@{/administrador/clientes/activo/}+${cliente.id}"
						class="btn btn-danger btn-sm btn-block"
						onclick="return confirm('Estas seguro de inactivar al cliente?');">Inactivar</a>
					</td>
					<td th:unless="${cliente.activo}"><a
						th:href="@{/administrador/clientes/activo/}+${cliente.id}"
						class="btn btn-success btn-sm btn-block"
						onclick="return confirm('Estas seguro de activar al cliente?');">Activar</a>
					</td>
					<td><a
						th:href="@{/administrador/clientes/detalle/}+${cliente.id}"
						class="btn btn-info btn-sm btn-block">Ver detalle</a></td>
				</tr>
			</tbody>
		</table>
	</div>
	<!-- FIN Contenido de la pagina -->

	<!--  Alertas -->
	<!-- Fin Alertas -->

	<!-- Footer -->
	<footer th:replace="layout/layout.html :: footer"></footer>
	<!-- FIN Footer -->
</body>
</html>