<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
<head th:replace="layout/layout.html :: head"></head>

<body>
	<!-- Header -->
	<header th:replace="layout/layout_admin.html :: header"></header>
	<!-- Fin Header -->

	<!-- Contenido de la pagina -->
	<div class="container text-center mt-2">
		<h1 class="" th:text="${titulo}"></h1>
	</div>
	<div class="container text-center">
		<div class="row">
		<div class="col">
			<h4>Porcentaje de ingreso promedio por mes del año actual: € <span th:text="${ingrPromMesAnoAct}"></span></h4>
			<h4>Porcentaje de egreso promedio por mes del año actual: € <span th:text="${egrPromMesAnoAct}"></span></h4>
		</div>
		</div>
		<div class="row">
		<div class="col">
			<h4>Porcentaje de ganancias por transaccion del año actual es: € <span th:text="${promGanXTrans}"></span></h4>
		</div>
		</div>
		<div class="row">
			<div class="col">
				<h4>clientes registrados, ingreso promedio de clientes</h4>
			</div>
		</div>
	</div>

	<!-- FIN Contenido de la pagina -->

	<!-- Footer -->
	<footer th:replace="layout/layout.html :: footer"></footer>
	<!-- FIN Footer -->
</body>
</html>