<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
<head th:replace="layout/layout.html :: head"></head>

<body>
	<!-- Header -->
	<header th:replace="layout/layout_admin.html :: header"></header>
	<!-- Fin Header -->

	<!-- Contenido de la pagina -->
	<div class="container text-center my-2">
		<h1 class="" th:text="${titulo}"></h1>
	</div>
	<div class="container text-center">
		<div class="card-deck">
			<div class="card">
				<img class="card-img-top" th:src="@{/images/card-1.png}"
					alt="Card image cap">
				<div class="card-body">
					<h4 class="card-title">Clientes</h4>
					<h6>
						Registrados: <span th:text="${cliRegistrados}"></span>
					</h6>
					<h6>
						Activos: <span th:text="${cliActivos}" class="text-success"></span>
					</h6>
					<h6>
						Inactivos: <span th:text="${cliInactivos}" class="text-danger"></span>
					</h6>
					<h6>
						Promedio de ingreso por día: <span th:text="${cliXdia}"></span>
					</h6>
				</div>
			</div>
			<div class="card">
				<img class="card-img-top" th:src="@{/images/card-2.png}"
					alt="Card image cap">
				<div class="card-body">
					<h4 class="card-title">Ingresos / Egresos</h4>
					<h6>
						Ingreso promedio mensual: € <span th:text="${ingrPromMesAnoAct}"></span>
					</h6>
					<h6>
						Engreso promedio mensual: € <span th:text="${egrPromMesAnoAct}"></span>
					</h6>
				</div>
			</div>
			<div class="card">
				<img class="card-img-top" th:src="@{/images/card-3.png}"
					alt="Card image cap">
				<div class="card-body">
					<h4 class="card-title">Ganancias</h4>
					<h6>
						Promedio ganancia por operación: € <span
							th:text="${promGanXTrans}"></span>
					</h6>
				</div>
			</div>
		</div>
	</div>
	<!-- FIN Contenido de la pagina -->

	<!-- Footer -->
	<footer th:replace="layout/layout.html :: footer"></footer>
	<!-- FIN Footer -->
</body>
</html>