<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
<head th:replace="layout/layout.html :: head"></head>

<body>
	<!-- Header -->
	<header th:replace="layout/layout.html :: header"></header>
	<!-- Fin Header -->

	<!-- Contenido de la pagina -->
	<div class="container">
		<nav class="navbar navbar-light bg-light justify-content-between">
			<a class="navbar-brand" th:text="${titulo}"></a>
			<form class="form-inline">
				<div class="form-group">
					<label for="tipo" class="mr-sm-2">Filtrar por</label><select
						id="tipo" name="tipo" class="form-control mr-sm-2">
						<option value="I" selected>Ingresos</option>
						<option value="E">Egresos</option>
					</select>
				</div>
				<div class="form-group">
					<label for="valorFiltro" class="mr-sm-2">Fecha</label> <input
						class="form-control mr-sm-2" type="date"
						placeholder="Ingrese valor" aria-label="Search" id="valorFiltro"
						name="valorFiltro">
				</div>
				<button class="btn btn-outline-dark my-2 my-sm-0" type="submit">Filtrar</button>
			</form>
		</nav>
	</div>
	<div class="container">
		<table class="table table-striped table-hover">
			<thead>
				<tr>
					<th scope="col">Ingreso / Egreso</th>
					<th scope="col">Fecha</th>
					<th scope="col">Monto</th>
					<th scope="col">Retenido</th>
					<th scope="col">Cuenta de Destino</th>
					<th scope="col">Descripción</th>
				</tr>
			</thead>
			<tbody>
				<tr th:each="movimiento : ${movimientos}">
					<th scope="row" th:text="${movimiento.tipo}"></th>
					<td th:text="${movimiento.fecha}"></td>
					<th th:text="'- € ' + ${movimiento.monto}" class="text-danger"
						th:if="${movimiento.tipo}==E"></th>
					<th th:text="'+ € ' + ${movimiento.monto}" class="text-success"
						th:if="${movimiento.tipo}==I"></th>
					<td th:text="'- € ' + ${movimiento.interes}"></td>
					<td th:text="${movimiento.destino}"></td>
					<td th:text="${movimiento.descripcion}"></td>
				</tr>
			</tbody>
		</table>
	</div>
	<!-- FIN Contenido de la pagina -->

	<!-- Footer -->
	<footer th:replace="layout/layout.html :: footer"></footer>
	<!-- FIN Footer -->
</body>
</html>