<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
<head th:replace="layout/layout.html :: head"></head>

<body>
	<!-- Header -->
	<header th:replace="layout/layout.html :: header"></header>
	<!-- Fin Header -->

	<!-- Contenido de la pagina -->
	<div class="container py-2">
		<h2 class="text-center" th:text="${titulo}"></h2>
	</div>
	<div class="container">
		<div class="container py-3 h-100">
			<div class="card" style="border-radius: 1rem;">
				<div class="card-body p-4 p-lg-4 text-black">
					<form th:action="@{/usuario/registrarUsuario}">
						<div class="form-row">
							<div class="form-group col-md-4">
								<label for="nacionalidad">Nacionalidad :</label> <input
									type="text" class="form-control" id="nacionalidad" required
									name="nacionalidad" placeholder="Ingrese su nacionalidad">
							</div>
							<div class="form-group col-md-4">
								<label for="fechaNacimiento">Fecha de nacimiento :</label> <input
									type="date" class="form-control" id="fechaNacimiento"
									name="fechaNacimiento" required>
							</div>
							<div class="form-group col-md-4">
								<label for="genero">Genero :</label> <select id="genero"
									name="genero" class="form-control" required>
									<option selected>--Seleccione una opción--</option>
									<option value="Femenino">Femenino</option>
									<option value="Masculino">Masculino</option>
									<option value="Otro">Otro</option>
								</select>
							</div>
						</div>
						<hr>
						<button type="submit" class="btn btn-dark btn-lg btn-block">Transferir dinero</button>
					</form>
				</div>
			</div>
		</div>
	</div>
	<!-- FIN Contenido de la pagina -->

	<!-- Footer -->
	<footer th:replace="layout/layout.html :: footer"></footer>
	<!-- FIN Footer -->
</body>
</html>