<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
<head th:replace="layout/layout.html :: head"></head>

<body>
	<!-- Header -->
	<header th:replace="layout/layout.html :: header"></header>
	<!-- Fin Header -->

	<!-- Alertas -->
	<div th:replace="layout/layout.html :: alertas"></div>
	<!-- FIN Alertas -->

	<!-- Contenido de la pagina -->
	<div class="container py-2">
		<h2 class="text-center" th:text="${titulo}"></h2>
	</div>
	<div class="container">
		<div class="container py-3 h-100">
			<div class="card" style="border-radius: 1rem;">
				<div class="card-body p-4 p-lg-4 text-black">
					<p>
						Saldo en cuenta : € <span th:text="${usuarioLogueado.saldo}"></span>
					</p>
					<p>
						Saldo disponible para transferencias : € <span
							th:text="${saldoTransf}"></span>
					</p>
					<form th:action="@{/cliente/transferencias/enviarTransferencia}">
						<div class="form-row">
							<div class="form-group col-md-4">
								<label for="ctaOrigen">Cuenta de origen:</label> <input
									step="0.10" type="text" class="form-control" id="cuentaOrigen"
									disabled name="cuentaOrigen"
									th:value="${usuarioLogueado.numeroCuenta}">
							</div>
							<div class="form-group col-md-5">
								<label for="ctaDestino">Cuenta de destino :</label> <select
									id="ctaDestino" name="ctaDestino" class="form-control" required>
									<option th:each="usuario : ${usuarios}"
										th:value="${usuario.numeroCuenta}"
										th:text="${usuario.numeroCuenta} + ' - ' 
												+ ${usuario.nombre} + ' ' 
												+ ${usuario.apellido}"></option>
								</select>
							</div>
							<div class="form-group col-md-3">
								<label for="monto">Monto :</label> <input step="0.10" min="0"
									type="number" class="form-control" id="monto"
									th:max="${saldoTransf}" required name="monto"
									placeholder="00.0">
							</div>
						</div>
						<hr>
						<button type="submit" class="btn btn-dark btn-lg btn-block"
						onclick="return confirm('Confirma que desea realizar esta transferencia?');">Transferir dinero</button>
					</form>
				</div>
			</div>
		</div>
	</div>
	<!-- FIN Contenido de la pagina -->

	<!-- Footer -->
	<footer th:replace="layout/layout.html :: footer"></footer>
	<!-- FIN Footer -->
</body>
</html>