<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
<head th:replace="layout/layout.html :: head"></head>

<body>
	<!-- Header -->
	<header th:replace="layout/layout.html :: header"></header>
	<!-- Fin Header -->

	<!-- Contenido de la pagina -->
	<div class="container text-center">
		<h1 class="" th:text="${titulo}"></h1>
	</div>

	<div class="container">
		<div
			class="row d-flex justify-content-center align-items-center h-100">
			<div class="col col-xl-10">
				<div class="card p-4" style="border-radius: 1rem;">
					<form th:action="@{/enviarConsulta}" method="post">
						<div class="form-row">
							<div class="form-group col-md-4">
								<label for="nombre">Nombre</label> <input type="text"
									class="form-control" id="nombre" name="nombre"
									placeholder="Ingrese su nombre" required>
							</div>
							<div class="form-group col-md-4">
								<label for="email">Email de contacto</label> <input type="email"
									class="form-control" id="email" name="email"
									placeholder="Ingrese un email" required>
							</div>
							<div class="form-group col-md-4">
								<label for="telefono">Teléfono de contacto</label> <input
									type="text" class="form-control" id="telefono" name="telefono"
									placeholder="Ingrese un teléfono" required>
							</div>
						</div>
						<div class="form-group">
							<label for="asunto">Asunto</label> <input type="text"
								class="form-control" id="asunto"
								placeholder="Ingrese su consulta y en breve nos comunicaremos..."
								name="asunto" required>
						</div>
						<div class="form-group">
							<label for="mensaje">Example textarea</label>
							<textarea class="form-control" id="mensaje" name="mensaje"
								rows="4"
								placeholder="Ingrese su consulta y en breve nos comunicaremos..."
								required></textarea>
						</div>
						<div class="pt-1 mb-4">
							<button class="btn btn-dark btn-lg btn-block" type="submit">Enviar</button>
						</div>
					</form>
				</div>
			</div>
		</div>
	</div>
	<!-- FIN Contenido de la pagina -->

	<!-- Footer -->
	<footer th:replace="layout/layout.html :: footer"></footer>
	<!-- FIN Footer -->
</body>
</html>