<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
<head th:replace="layout/layout.html :: head"></head>

<body>
	<!-- Modal de inicio -->
	<div class="modal fade" tabindex="-1" role="dialog" id="modalInicio">
		<div class="modal-dialog" role="document">
			<div class="modal-content">
				<div class="modal-header">
					<h5 class="modal-title">Virtual Bank Seguros</h5>
					<button type="button" class="close" data-dismiss="modal"
						aria-label="Close">
						<span aria-hidden="true">&times;</span>
					</button>
				</div>
				<div class="modal-body">
					<p>Obtenga su seguro de manera 100% online con Virtual Bank</p>
					<p>Asociado a su cuenta con debito inmediato</p>
				</div>
			</div>
		</div>
	</div>
	<!-- FIN Modal de inicio -->

	<!-- Header -->
	<header th:replace="layout/layout.html :: header"></header>
	<!-- Fin Header -->

	<!--  Alertas -->
	<div
		class="alert alert-success alert-dismissible fade show text-center"
		role="alert" th:if="${param.logout}">
		Ha cerrado sesión correctamente. Lo esperamos pronto!
		<button type="button" class="close" data-dismiss="alert"
			aria-label="Close">
			<span aria-hidden="true">&times;</span>
		</button>
	</div>
	<!-- Fin Alertas -->

	<!-- Contenido de la pagina -->
	<div class="container">
		<h1 class="" th:text="${titulo}"></h1>
	</div>
	<!-- FIN Contenido de la pagina -->

	<!-- Footer -->
	<footer th:replace="layout/layout.html :: footer"></footer>
	<!-- FIN Footer -->
</body>
</html>